@model IEnumerable<Movies4u.Data.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
   
    <thead>
        <tr>
            <th>
                <p style="color:white;"> @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <p style="color:white;">  @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                <p style="color:white;"> @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                <p style="color:white;"> @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                <p style="color:white;">@Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
            
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <p style="color:white;"> @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <p style="color:white;"> @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                    <p style="color:white;">  @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <p style="color:white;">@Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                    <p style="color:white;"> @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
  
</table>
