@model IEnumerable<Movies4u.Data.Movie>

@{
    // ViewData["Title"] = "Index";
}

@* <h1>Index</h1> *@

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">

    <thead>
        <tr>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Movies</title>



            <style>
                .movie {
                    display: inline-block;
                    width: 200px; /* Размер*/
                    margin: 10px; /* Разстояние*/
                }

            </style>

            <th>

                @* <p style="color:white;"> @Html.DisplayNameFor(model => model.Name) *@
            </th>


            <th>

                @* <p style="color:white;">  @Html.DisplayNameFor(model => model.Rate) *@
            </th>

            <th>
                @*  <p style="color:white;"> @Html.DisplayNameFor(model => model.Description) *@
            </th>
            <th>
                @*  <p style="color:white;"> @Html.DisplayNameFor(model => model.Duration) *@
            </th>
            <th>
                @* <p style="color:white;">@Html.DisplayNameFor(model => model.Year) *@
            </th>

            <th>
                @* <p style="color:white;"> @Html.DisplayNameFor(model => model.ImageURL) *@
            </th>
            <th>  </th>

    </thead>
    <tbody>
        <h1>Movies</h1>
        <div>
            @*   <img src="~/Content/images/barbie.jpg" size height="250px" alt="Sample Photo" /> *@
        </div>
        <div>
            @foreach (var movie in Model)
            {
                <div class="movie">
                    <img src="@movie.ImageURL" alt="Image" style=" max-width: 250px; max-height: 400px;" />
                    <p>@movie.Name ( @movie.Rate)</p>
                    @* <h2>@movie.Rate</h2>      *@
                    @* <p>Description: @movie.Description</p> *@
                    <p>Year: @movie.Year</p>
                    @* <p>Duration: @movie.Duration</p> *@
                    <a asp-action="Edit" asp-route-id="@movie.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@movie.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@movie.Id">Delete</a>

                </div>
            }


        </div>
        @* @foreach (var item in Model) {
        <tr>
        <td>
        <p style="color:white;"> @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
        <p style="color:white;"> @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
        <p style="color:white;">  @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
        <p style="color:white;">@Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
        <p style="color:white;"> @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
        <p style="color:white;"> @Html.DisplayFor(modelItem => item.ImageURL)
        </td>
        <td>
        <td> *@
        @*   <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
        </td>
        </tr>

    </tbody>

</table>